body
{
    background-color: #ffffff;
    font-family: 'News Cycle', sans-serif;
    padding-bottom: 100px;
}
h1, h2, h3
{
    margin-left: 150px;
    margin-top: 20px;
    font-size: 25px;
}
/* p
{
    line-height: 5px;
    font-size: 70%
} */
nav
{
    margin-left: 150px;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 300px;
    word-spacing: 10px;
}
li
{
    display: inline;
}
li a:hover:not(.active) {
    background-color: #FDEDEC;
}

.active {
    color: #000000;
}
i1
{
    display: block;
    margin-top: 80px;
    margin-left: 75px;
}
img
{
    float: left;
}
