.col-lg-3 {
  color: white;
}

.col-lg-3 h1 {
  font-weight: 800;
}

.col-lg-3 h4 {
  font-weight: 800;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.col-lg-3 {
  animation: 2.5s ease-out 0s 1 fadeIn;
}