.menu {
  position: relative;
z-index: 1000;
font-size: 1.5vw;
align-items: flex-start;
display: flex;
flex-direction: column;
text-decoration: none;
line-height: 1.8;
}

.menu-item {
font-weight: 600;
width: 15%;
color: white;
transition: width 1s;
border-bottom: 1px solid;
}

.menu-item:hover {
text-decoration: none;
width: 50%;
color: rgb(190, 190, 190);
}

.menu #about-nav {
border-color: rgb(202, 39, 39);
}

.menu #experience-nav {
border-color: rgb(91, 189, 173);
}

.menu #projects-nav {
border-color: rgb(189, 91, 189);
}

.menu #contact-nav {
border-color: rgb(187, 179, 75);
}

